#hero_text h1 {
    font-size: 4.8rem;
}

#hero_text h2 {
    color: rgb(102, 102, 101);
    font-size: 1.2em;
    line-height: 1.2em;
}

#hero_image {
    flex-basis: 38%;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 0vh 16%;
}

#hero_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 18cm;
}

#hero_text {
    flex-basis: 38%;
    flex-shrink: 0;
    flex-grow: 0.5;
    max-width: 15cm;
}

#hero_text a {
    text-decoration: none;
}

.main {
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    #hero_text {
        min-width: 500px;
    }

    #hero_image img {
        min-width: 400px;
    }

}

@media (max-width: 600px) {

    #hero_text {
        min-width: 80%;
        text-align: center;
    }

    #hero_text h1 {
        font-size: 2.5rem;
        margin-top: 1em;
    }

    #icon_decoration {
        height: 2.5rem;
    }

    .main {
        align-items: flex-start;
    }

}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}