nav {
    align-items: center;
    border: 1px solid none;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    padding: 0 2em;
}

#icon_home {
    height: 2.8rem;
}

p {
    display: inline-block;
}

/*
#search {
    border: 1px solid blue;
    border-radius: 15px;
    height: 2.6rem;
    width: 12rem;
}

#search {
    background-color: transparent;
    border: 0;
    height: 2rem;
    text-align: left;
    font-size: 0.9rem;
    width: 8rem;
}
*/

.part-2 {
    display: flex;
}