/**
* In this animation I'll use diferent variables
* from the ones used in the chainy 
* interface, by example here I'll use another
* radius to give a more animated appearance
**/

@media (min-width: 900px) {

    #hero-animation {
        --border-radius-small: 10px;
        --border-radius-big: 108px;
        --height: 80vh;
        --font-size: 1em;
        --icons-height: 1.3em;
    }
}

@media (max-width: 900px) {
    #hero-animation {
        --border-radius-small: 8px;
        --border-radius-big: 50px;
        --height: 40vh;
        --font-size: .6em;
        --icons-height: .8em;
    }
}

#hero-animation {
    /*border: 1px solid black;*/
    text-align: center;
    height: var(--height);
    aspect-ratio: calc((var(--card-aspect-ratio)/2));
    max-width: 13cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate3d(2, 1, 2, 45deg);
    --animation-time: 6000ms;
    --animation-delay: 2000ms;
    --animation-second-step-delay: 3000ms;
    --primary-color: #F72585;
    --primary-light-color: #f73d9e;
    --secondary-color: #1B13C0;
    --secondary-light-color: #3028cc;
    --third-color: #0CD4F7;
    --third-light-color: #b5e0fc;
    --card-aspect-ratio: 0.75;
    --card-percentage-covered-top: -12%;
    --card-percentage-covered-top-number: 0.12;
    --card-percentage-covered-right: 40%;

}

#hero-animation .card {
    width: 100%;
    min-width: 3.5cm;
    aspect-ratio: var(--card-aspect-ratio);
    border-radius: var(--border-radius-big);
    border-bottom: 13px solid;
    border-right: 4px solid;
    border-left: 7px solid;
    border-top: 3px solid;
    box-shadow: 6px 7px 19px 0px rgba(0, 0, 0, 0.3);
}

#hero-animation__second-cards {
    position: relative;
    right: var(--card-percentage-covered-right);
    top: calc(var(--card-percentage-covered-top)/2);
    z-index: 1;
    display: flex;
    width: 100%;
    aspect-ratio: 0.79;
}

#hero-animation>.card:nth-child(1) {
    position: relative;
    top: calc(-1*var(--card-percentage-covered-top)/2);
}

#hero-animation__second-cards .card {
    position: absolute;
}

#hero-animation__second-cards .card:nth-child(1) {
    animation: shuffle var(--animation-time) infinite;
    animation-delay: calc(var(--animation-delay) + var(--animation-second-step-delay));
    background-color: var(--third-color);
    border-color: var(--third-light-color);
    z-index: 2;
}

#hero-animation__second-cards .card:nth-child(2) {
    animation: shuffle var(--animation-time) infinite, moveBellow var(--animation-time) infinite;
    animation-delay: var(--animation-delay);
    background-color: var(--secondary-color);
    border-color: var(--secondary-light-color);
    z-index: 3;
}

@keyframes shuffle {

    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(0%);
    }

}

@keyframes moveBellow {
    0% {
        z-index: 3;
    }

    30% {
        z-index: 1;
    }

    60% {
        z-index: 1;
    }

    90% {
        z-index: 3;
    }
}