/**
* In this animation I'll use diferent variables
* from the ones used in the chainy 
* interface, by example here I'll use another
* radius to give a more animated appearance
**/

#hero-animation {
    border: 1px solid purple;
    text-align: center;
    width: 48%;
    height: 80vh;
    --animation-time: 6000ms;
    --animation-delay: 2000ms;
    --animation-second-step-delay: 3000ms;
    --primary-color: #F72585;
    --primary-light-color: #f73d9e;
    --secondary-color: #1B13C0;
    --secondary-light-color: #3028cc;
    --third-color: #0CD4F7;
    --third-light-color: #b5e0fc;
    --border-radius-small: 10px;
}

#hero-animation .card {
    width: 100%;
    aspect-ratio: 0.79;
    border-radius: 108px;
    border: 5px solid;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

#hero-animation__second-cards {
    position: relative;
    right: 20%;
    top: -10%;
    z-index: 1;
    display: flex;
}

#hero-animation__second-cards .card {
    position: absolute;
}

#hero-animation__second-cards .card:nth-child(1) {
    animation: shuffle var(--animation-time) infinite;
    animation-delay: calc(var(--animation-delay) + var(--animation-second-step-delay));
    background-color: var(--third-color);
    border-color: var(--third-light-color);
    z-index: 2;
}

#hero-animation__second-cards .card:nth-child(2) {
    animation: shuffle var(--animation-time) infinite, moveBellow var(--animation-time) infinite;
    animation-delay: var(--animation-delay);
    background-color: var(--secondary-color);
    border-color: var(--secondary-light-color);
    z-index: 3;
}

@keyframes shuffle {

    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(0%);
    }

}

@keyframes moveBellow {
    0% {
        z-index: 3;
    }

    30% {
        z-index: 1;
    }

    60% {
        z-index: 1;
    }

    90% {
        z-index: 3;
    }
}