#aboutFirstCard {
    background-color: red;
}

#aboutFirstCard .link {
    padding: 10px;
    background-color: white;
}

#aboutFirstCard div:nth-child(1) {
    background-color: white;
    aspect-ratio: 1;
    width: 35%;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

#aboutFirstCard .link {
    background-color: white;
    width: 65%;
    padding: 1.2rem;
    margin: .6rem 0;
    border-radius: 12px;
}

#aboutFirstCard .link:nth-child(2) {
    background-color: var(--primary-color);
    animation: focusButton1 var(--animation-time) infinite;
    animation-delay: var(--animation-delay);
}

#aboutFirstCard .link:nth-child(3) {
    animation: focusButton2 var(--animation-time) infinite;
    animation-delay: var(--animation-delay);
}

@keyframes focusButton1 {

    0% {
        background-color: var(--primary-color);
    }

    1% {
        background-color: white;
    }

    50% {
        background-color: white;
    }

    51% {
        background-color: var(--primary-color);
    }

}

@keyframes focusButton2 {

    0% {
        background-color: white;
    }

    1% {
        background-color: var(--secondary-color);
    }

    50% {
        background-color: var(--secondary-color);
    }

    51% {
        background-color: white;
    }

}