@media (min-width: 900px) {

    #hero-animation {
        --link-padding: 1.2rem;
        --link-vertical-margin: .6rem;
        --link-icon-margin-bottom: 1.5rem;
    }
}

@media (max-width: 900px) {
    #hero-animation {
        --link-padding: .5rem;
        --link-vertical-margin: .3rem;
        --link-icon-margin-bottom: .5rem;
    }
}


#aboutFirstCard {
    background-color: var(--primary-color);
    border-color: var(--primary-light-color) !important;
    z-index: 2;
    position: relative;
}


#aboutFirstCard div:nth-child(1) {
    background-color: white;
    aspect-ratio: 1;
    width: 35%;
    border-radius: 50%;
    margin-bottom: var(--link-icon-margin-bottom);
}

#aboutFirstCard .link {
    background-color: white;
    width: 65%;
    padding: var(--link-padding);
    margin: var(--link-vertical-margin) 0;
    border-radius: 12px;
    font-size: calc(var(--font-size));
}

#aboutFirstCard .link:nth-child(2) {
    background-color: var(--secondary-color);
    animation: focusButton1 var(--animation-time) infinite;
    animation-delay: var(--animation-delay);
}

#aboutFirstCard .link:nth-child(3) {
    animation: focusButton2 var(--animation-time) infinite;
    animation-delay: var(--animation-delay);
}

@keyframes focusButton1 {

    0% {
        background-color: var(--secondary-color);
    }

    1% {
        background-color: white;
    }

    50% {
        background-color: white;
    }

    51% {
        background-color: var(--secondary-color);
    }

}

@keyframes focusButton2 {

    0% {
        background-color: white;
    }

    1% {
        background-color: var(--third-color);
    }

    50% {
        background-color: var(--third-color);
    }

    51% {
        background-color: white;
    }

}