* {
  box-sizing: border-box;
}

.App {
  /*color: #001233;*/
}

body {
  background-color: #EDF2FB;
}


.blue {
  color: #1B13C0;
}

.big-gap {
  gap: 4rem;
}

.btn {
  background-color: #F72585;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}


.full_screen {
  width: 100vw;
  height: 95vh;
}

#hero_text {
  align-self: flex-start;
  border: 1px solid none;
  flex-basis: 34%;
  margin-top: 100px;
  /*flex-grow: 1;*/
}

#hero_text h1 {
  border: 1px solid none;
  margin-bottom: 5px;
  font-size: 3.5rem;
}

#hero_text h2 {
  border: 1px solid none;
  color: rgb(102, 102, 101);
  font-size: 18px;
  
}

#hero_image {
  border: 1px solid none;
  height: 78%;
  flex-basis: 50%;
}

#icon_decoration {
  height: 3.3rem;
}

.main {
  align-items: center;
  border-top: 1px solid none;
  display: flex;
  justify-content: center;
 
}

@media (max-width: 950px) {
  #hero_text {
    margin: 0;
  }

  #hero_text h1 {
    font-size: 2.5rem;
  }

  #icon_decoration {
    height: 2.5rem;
  }

  .main {
    flex-direction: column-reverse;
    gap: 0;
    justify-content: space-around;
    text-align: center;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} 