:root {
    --blue: #1B13C0;
    --light-blue: #2921c2;
    --really-light-blue: #554edb;
    --pink: #F72585;
    --light-pink: #f84093;
    --really-light-pink: #fa72af;
}

.pink {
    color: var(--pink);
}

.gray {
    color: #777676;
}

.black {
    color: black;
}

.white {
    color: white;
}

.bg-pink {
    background-color: #F72585;
}

.bg-pink:hover {
    background-color: #f01376;
}

.bg-white {
    background-color: white;
}

.blue {
    color: blue;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-gray {
    background-color: #dadada;
}

.gray {
    color: #777676;
}

.orange{
    color: #ff6600;
}