:root {
    --blue: #1B13C0;
}

.pink {
    color: #F72585;
}

.gray {
    color: #777676;
}

.black {
    color: black;
}

.white {
    color: white;
}

.bg-pink {
    background-color: #F72585;
}

.bg-pink:hover {
    background-color: #f01376;
}

.blue {
    color: blue;
}

.bg-blue {
    background-color: #1B13C0;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-gray {
    background-color: #dadada;
}

.gray {
    color: #777676;
}