.container {
    padding-top: 9vh;
    z-index: 0;
}

div h1 {
    color: #001233;
    font-size: 1.9rem;
    margin-bottom: 2.8rem;
}

form {
    gap: 1.8rem; 
}

form input, form button {
    font-size: 0.8rem;
    padding: 0.6rem;
    width: 20rem;
}

form p {
    border: 1px solid red;
    display: none;
}

form button {
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
}

form button:active {
    opacity: 0.75;
    transform: translateY(1.8px)
}

.iconGoogle {
    height: 1rem;
    margin: 0.5vh 0.4rem 0 0;
}
