:root {
    --small-text: 15px;
    --medium-text: 18px;
    --large-text: 22px;
    --really-large-text: 32px;
    --normal-rounded: 10px;
    --hight-rounded: 30px;
    --fast-transition: 300ms;
    --slow-transition: 500ms;
}

.rounded {
    border-radius: 10px;
}

.circle{
    border-radius: 50%;
}

.circle-rounded {
    border-radius: 30px;
}

.pointer {
    cursor: pointer;
}

.d-none {
    display: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.text-icon {
    height: 1em;
}

.first{
    order: 1;
}

.second{
    order: 2;
}

.third{
    order: 3;
}