.column {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
}

.mb-1 {
    margin: .5rem;
}
.mt-1{
    margin-top: .5rem;
}

.mr-1 {
    margin-right: .4rem;
}

.ml-1 {
    margin-left: .4rem;
}

.text-center{
    text-align: center;
}