.aling-items {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.centered {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.mb-1 {
    margin: .5rem;
}

.mt-1 {
    margin-top: .5rem;
}

.mr-1 {
    margin-right: .4rem;
}

.ml-1 {
    margin-left: .4rem;
}

.my-2 {
    margin: .8rem 0;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.big-gap {
    gap: 4rem;
}

.full_screen {
    width: 100vw;
    height: 95vh;
}