.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
}

.centered {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.grow {
    flex-grow: 1;
}

.gap-1 {
    gap: .4rem;
}

.mb-1 {
    margin: .5rem;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: .4rem;
}

.mx-1 {
    margin: 0 .4rem;
}

.mr-2 {
    margin-right: .8rem;
}

.ml-1 {
    margin-left: .4rem;
}

.my-1 {
    margin: .4rem 0;
}

.my-2 {
    margin: .8rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 10vh 0 5vh 0;
}

.mb-2 {
    margin: 0 0 1.2rem 0;
}

.mb-3 {
    margin: 0 0 2rem 0;
}

.p-05 {
    padding: .2rem;
}

.p-1 {
    padding: .4rem;
}

.py-1 {
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.px-2 {
    padding-left: .8rem;
    padding-right: .8rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding: 0 .4rem;
}

.p-4 {
    padding: 2rem;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.big-gap {
    gap: 4rem;
}

.full_screen {
    width: 100vw;
    height: 95vh;
}

.wrap {
    flex-wrap: wrap;
}