.new-link {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}

.draggable-link i {
    margin: 0 10px;
    transition: opacity 0.5s;
    opacity: 0;
}

.link-color-picker {
    opacity: 0;
    transition: opacity var(--slow-transition);
    margin: 0 10px;
}

.draggable-link:hover i, .draggable-link>input[type="text"]:focus ~ * {
    opacity: 0.9;
}

.draggable-link:hover .link-color-picker {
    opacity: 0.9;
}

#parent-link img, #parent-link svg {
    position: relative;
    right: 3em;
}

#parent-link input {
    padding-right: 5em;
}

#link-image {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: contain;
}

#remove-link-image {
    opacity: 0.8;
}

#image-progress {
    position: absolute;
    bottom: 3px;
    right: 0px;
    opacity: 0.8;
}