nav {
    border: 1px solid none;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 2.5% 6% 0 6%;
}

#icon_home {
    height: 2rem;
    margin-right: 1rem;
}

p {
    display: inline-block;
}