.w-100 {
    width: 100%;
}

.mw-22 {
    max-width: 22cm;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.full_screen {
    height: 100vh;
    width: 100vw;
}

.fs-1 {
    font-size: 2.6em;
}

.fs-3 {
    font-size: 1rem;
}

.small {
    font-size: 0.8rem;
    font-weight: 400;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.h-1fr {
    height: calc(100vh - 8vh);
}

.h-1 {
    height: 1.5em;
}

.h-5em {
    height: 5em;
}

.no_decoration {
    text-decoration: none;
}