.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50%;
}

.full_screen {
    height: 100vh;
    width: 100vw;
}

.fs-1 {
    font-size: 2.6em;
}

.fs-3 {
    font-size: 1rem;
}

.small {
    font-size: 0.8rem;
    font-weight: 400;
}

.h-100 {
    height: 100%;
}