h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

input {
  border-radius: 10px;
  border: none;
  padding: 20px 10px;
  text-align: center;
}

button {
  background-color: rgb(29, 29, 29);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 20px 10px;
}