h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

input {
  border-radius: var(--normal-rounded);
  border: none;
  padding: 20px 10px;
  text-align: center;
}

button, .btn {
  background-color: rgb(29, 29, 29);
  color: white;
  border-radius: var(--normal-rounded);
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
}

section {
  height: 92vh;
  padding: 0 2em;
  max-width: 100%;
  overflow-y: scroll;
}